@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.css-2b097c-container {
  border-radius: 15px 0 0 15px !important;
  border: 14px #b7324b solid;
  border-right: 0;
}
.css-yk16xz-control {
  border-radius: 6px 0 0 6px !important;
  border: 0px #fbb02d solid !important;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper img {
  max-width: 250px;
  height: 10rem;
  padding: 0 15px;
  object-fit: cover;
}

.wrapper img:last-of-type {
  padding-left: 0;
}

.wrapper .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 10rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

.wrapper section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
