@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@keyframes marquee {
	0% {
		left: 1000%;
	}
	100% {
		left: -1000%;
	}
}
.animate {
	width: 1000%;
	animation: marquee 40s linear infinite;
	top: 50%;
	transform: translate(0, -200%);
}
.image img {
	width: 30rem;
  height: 30rem;
	-webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@screen lg {
	@keyframes marquee {
		0% {
			left: 0;
		}
		100% {
			left: -200%;
		}
	}
	.animate {
		width: 290%;
		animation: marquee 20s linear infinite;
		top: 50%;
		transform: translate(0, -50%);
	}
	.image img {
		width: 30rem;
    height: 30rem;
		-webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}
}
.animate:hover {
	animation-play-state: paused;
}
.image img:hover {
	transform: scale(1.3);
}